.header {
    background-color: rgb(146, 150, 147);
    text-align: center;
    padding: 20px;
}

button {
    background-color: #b69797; color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}